.sticker-book {
  --stickerMaxSize: 90px;
  --stickerMaxMobileSize: 55px;
  --stickerImageScale: 1.05;
  --stickerPickUpSize: 3px;
  --stickerLargeSize: 150px;
  --stickerLargeMobileSize: 90px;
  --stickerSmallSize: 60px;
  --stickerSmallMobileSize: 30px;
  --wiggleAmount: 1deg;
  --wiggleDuration: .6s;
  position: relative;
  z-index: 0;
}
.sticker-book.full-size {
  background-color: transparent;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticker-book .sticker-wrapper {
  display: inline-block;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s linear;
  max-width: var(--stickerMaxSize);
  pointer-events: auto;
  will-change: top, left;
}
.sticker-book .sticker-wrapper.large {
  max-width: var(--stickerLargeSize);
}
.sticker-book .sticker-wrapper.small {
  max-width: var(--stickerSmallSize);
}
.sticker-book .sticker-wrapper.temp-shake {
  animation: wiggle var(--wiggleDuration) ease 2;
}
.sticker-book .sticker-wrapper.shine > .sticker > .shine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 45%, rgba(255, 255, 255, 0.6) 55%, rgba(0, 0, 0, 0) 60%) transparent;
  background-size: 300% 100%;
  animation: shine 2.5s 1;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sticker-book .sticker-wrapper > .sticker {
  max-width: inherit;
  max-height: inherit;
  position: relative;
}
.sticker-book .sticker-wrapper > .sticker > img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: inherit;
  max-height: inherit;
  transition: transform 0.2s;
  display: block;
  transform: scale(calc(var(--stickerImageScale) + 0.25));
}
.sticker-book .sticker-wrapper.draggable {
  opacity: 0;
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: opacity 0.3s linear;
}
.sticker-book .sticker-wrapper.draggable.visible {
  opacity: 1;
}
.sticker-book .sticker-wrapper.draggable.visible > .sticker > .shine,
.sticker-book .sticker-wrapper.draggable.visible > .sticker > img {
  transform: scale(var(--stickerImageScale));
}
.sticker-book .sticker-wrapper.draggable > .sticker a {
  pointer-events: none;
  max-width: inherit;
  max-height: inherit;
  width: 100%;
  height: 100%;
  display: block;
}
.sticker-book .sticker-wrapper.addDepth {
  will-change: filter;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5019607843));
}
.sticker-book .sticker-wrapper.addDepth.draggable {
  transition: opacity 0.3s linear, filter 0.2s ease-out;
}
.sticker-book .sticker-wrapper.addDepth.draggable > .sticker > img {
  position: relative;
  top: 0;
  left: 0;
}
.sticker-book .sticker-wrapper.addDepth.draggable > .sticker > .shine,
.sticker-book .sticker-wrapper.addDepth.draggable > .sticker > img {
  transition: transform 0.2s, top 0.2s ease-out, left 0.2s ease-out;
}
.sticker-book .sticker-wrapper.addDepth.draggable.dragging {
  animation: wiggle var(--wiggleDuration) ease infinite;
  filter: drop-shadow(calc(var(--stickerPickUpSize) * 2) calc(var(--stickerPickUpSize) * 2) 4px rgba(0, 0, 0, 0.1254901961));
}
.sticker-book .sticker-wrapper.addDepth.draggable.dragging > .sticker > .shine,
.sticker-book .sticker-wrapper.addDepth.draggable.dragging > .sticker > img {
  transform: scale(calc(var(--stickerImageScale) + 0.1));
  top: calc(var(--stickerPickUpSize) * -1);
  left: calc(var(--stickerPickUpSize) * -1);
}

@media (max-width: 1024px) {
  .sticker-book .sticker-wrapper {
    max-width: var(--stickerMaxMobileSize);
    max-height: var(--stickerMaxMobileSize);
  }
  .sticker-book .sticker-wrapper.large {
    max-width: var(--stickerLargeMobileSize);
    max-height: var(--stickerLargeMobileSize);
  }
  .sticker-book .sticker-wrapper.small {
    max-width: var(--stickerSmallMobileSize);
    max-height: var(--stickerSmallMobileSize);
  }
}
#refreshButton {
  --activeScale: 0.8;
  --hoverScale: 1.1;
  --refreshDuration: .5s;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.5s, background-color 1s, transform 0.25s;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(0, 123, 255, 0.1882352941);
  opacity: 0;
}
#refreshButton > .refresh-icon {
  width: 80%;
  height: 80%;
  fill: white;
}
#refreshButton.visible {
  opacity: 1;
}
#refreshButton.visible:hover {
  transform: scale(var(--hoverScale));
}
#refreshButton.visible:hover, #refreshButton.visible:active, #refreshButton.visible.spin {
  background-color: #007bff;
}
#refreshButton.visible:active, #refreshButton.visible.spin {
  transform: scale(var(--activeScale));
}
#refreshButton.visible.spin {
  animation: spin var(--refreshDuration) linear;
}

@media (max-width: 1024px) {
  #refreshButton {
    width: 40px;
    height: 40px;
  }
}
@keyframes spin {
  from {
    transform: scale(var(--activeScale)) rotate(0deg);
  }
  to {
    transform: scale(var(--activeScale)) rotate(-360deg);
  }
}
@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25%, 75% {
    transform: rotate(var(--wiggleAmount));
  }
  50% {
    transform: rotate(calc(-1 * var(--wiggleAmount)));
  }
}
@keyframes shine {
  0% {
    background-position: right;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    background-position: left;
  }
}/*# sourceMappingURL=sticker.css.map */